/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:#F9F9F9;
}

/* Header Styling */
header {
    background-color: #2E294E;
    color: white;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 1.8rem;
    text-align: left;
}

/* Navigation Styling */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
    background-color: #2E294E;
    
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
}

nav ul li a:hover {
    color: #FFB140;
    text-decoration: underline;
    box-shadow: 0 0 50px #333;
}

/* Main Content */
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

/* Gallery Styling */
div#temple-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
    box-shadow: 0 0 50px #333;
    border-radius: 15px 150px;
}

figure {
    background-color:#F9F9F9;
    padding: 10px;
    box-shadow: 0 0 50px #333;
    border-radius: 15px 150px;
}

figure img {
    width: 100%;
    height: auto;
    border-radius: 15px 150px;
    
}

figcaption {
    font-size: 1rem;
    margin-top: 5px;
    font-weight: bold;
}

/* Footer Styling */
footer {
    background-color:#2E294E;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    margin-top: 20px;
}

footer p {
    margin: 5px;
}



